header{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    background-color: #44131c;
    box-shadow: 10px 0px 20px 8px #44131c;
}

header .logo{
    width: 80px;
    margin-left:40px;
}
header ul{
    display: flex;
    text-align: center;
    position: 0;
    margin-right: 100px;
}
header a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 650;
    padding: 20px;
    color: #fff;
    transition: background all .050s ;
}
header .contato{
    background-color: #ffffff;
    color: #44131c;
    border-radius: 9px 25px;
    padding: 8.5px 17px 8.5px 17px;
    border: solid 2px #fff;
}
header a:hover{
    transition: 0.7s;
    color: #eb7d7d;
}
header .contato:hover{
    color: #ffffff;
    background-color: transparent;
    border: solid 2px #fff;
}
.carousel{
    display: flex;
    height: 700px;
    background: #fff;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 10px 4px 22px  #850a0a41;
    background-image: url(images/fundo_definitivo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: center center;
}
.carousel h1{
    font-size: 60px;
    width: 1600px;
    display: inline;
    font-weight: 700;
    color: #c50d00;
    padding: 70px;
}

.carousel p{
    margin-top:90px;
    font-size: 22px;
    text-align: justify;
    margin-right: 100px;
    color: #ffffff;
    font-weight: 500;
}
.carousel button{
    padding: 20px 60px;
    background-color: #ffffff;
    color: #44131c;
    font-weight: 600;
    font-size: 26px;
    border-radius: 50px;
    margin-top:100px;
    font-family: "Jost", serif;
    border: solid 3px #a12222;
}


.carousel button:hover{
    background-color: #44131c;
    color: #fff;
    transition: background 0.70s;
    border: solid 3px #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
  }
  
  .pic-ctn {
    width: 100vw;
    height: 200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 40px;
    margin-right: 90px;

  }
  
  .pic-ctn > img {
    position: absolute;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
    width: 210px;
    height: 600px;
  }

  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }
  .info{
    width: 100%;
  }
 
 .info .info__cards{
  display: flex;
  text-align: center;
  padding: 70px;
  margin-top: 70px;
 }

 .info article{
  border: solid 3.5px #270202;
  box-shadow: 2px 2px 12px #3a0101ab;
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
 }
.info article i{
  font-size: 70px;
  color: #a12222;
}
.info article h3{
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 27px;
  font-weight: 600;
  color: #44131c;
}

.info article p{
  font-size: 22px;
  font-weight: 400;
}

